<div class="col-left borders">
    <div class="feat">
        <i class="icon-group icon-3x"></i>
        <h3>Iniciar sesión</h3>
        <form action="" method="post" id="login-form">
            {% csrf_token %}

            <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Email">
            <input type="password" name="password" class="form-control" id="password"
                   placeholder="Contraseña">
            <button class="button_large">Entrar</button>
            <div class="">Registrarse</div>
        </form>
    </div>

    <hr class="double">
    <div class="feat last">
        <i class="icon-laptop icon-3x"></i>
        <h3>Acceso donde quieras</h3>
        <p>Podrá llevar nuestros contenidos en su bolsillo. Estamos al alcance de su teléfono
            celular </p>
    </div>
</div>