{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h3 class="text-center alert-success disp-block mt25">
            {{ activation_key }}
        </h3>
    </div>
    {#    <a class="btn-morado" href="{% url 'main:subir_perfil' %}">Empezar</a>#}
{% endblock %}