{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <!-- Display the success message on successful submission and validation
         of the contact form data.
     -->
    <div class="container">
        <h3 class="text-center alert-success disp-block mt25">
            Se ha completado la activación. Gracias por utilizar nuestra plataforma.
        </h3>
    <a class="button_large text-center mt15" href="{% url 'auth_login' %}">Comenzar</a>
    </div>

{% endblock %}