{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        <h3 class="text-center alert-success disp-block mt25">
            Se ha enviado un correo a su correo electrónico con las instrucciones para realizar la activación de la
            cuenta en nuestra plataforma.
        </h3>
    </div>

{% endblock %}