{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block custom_assets %}
    <script>
        $(function () {
            sessionStorage.setItem('terminos_condiciones', 0);

            $('#acepto').on('click', function () {
                sessionStorage.setItem('terminos_condiciones', 1);
            });

            $('#id_email').on('change', function () {
                console.log($(this).val());
                $('#id_username').val($(this).val());
            });

            $('.form-inline input').addClass('form-control');

            $('#btn-registrar').on('click', function (event) {
                event.preventDefault();
                var terminos = sessionStorage.getItem('terminos_condiciones');
                if (terminos == 0) {
                    // bootbox.alert('Debe aceptar los términos y condiciones para poder registrarse');
                    alert('Debe aceptar los términos y condiciones para poder registrarse');
                }
                if ($('#id_password1').val() != $('#id_password2').val()) {
                    $('.passwords-diferentes').toggleClass('hide');
                    return;
                }
                if (terminos == 1) {
                    $('#form_registrar').submit();
                }

            });

        });
    </script>
{% endblock %}
{% block container %}
    <div class="container-form">
        <h3 class="txt_gris_medio">Registrarse</h3>
        <hr>
        <form method='post' id="form_registrar" action='' class="form-inline">
            {% csrf_token %}
            {% if msg != None and msg.tipo == "ok" %}
                <div class="alert alert-success">
                    {{ msg.msg }}
                    <div>
                        <a href="{% url 'auth_login' %}">Entrar al campus</a>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    {{ msg.msg }}
                </div>
            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="alert-danger hide passwords-diferentes">Las contraseñas no coinciden</div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form.email }}
                </div>
                <div class="hide">
                    {{ form.username }}
                </div>
                <div class="col-sm-12">
                    {{ form.password1 }}
                </div>

                <div class="col-sm-12">
                    {{ form.password2 }}
                </div>
            </div>
            <label>
                <input type="checkbox" name="acepto" id="acepto"/>
                <a href="#">Acepto términos y condiciones</a>
            </label>
            <button id="btn-registrar" class="button_large">Registrarse</button>
            <div class="clearfix"></div>
        </form>
    </div>

{% endblock %}