{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ curso.categoria }}</h1>
                <ul class="breadcrumb">
                    <li><a href=" {% url 'frontend:index' %}">Inicio</a> <span class="divider"></span></li>
                    <li class="active">Mis Cursos</li>
                </ul>
            </div>

            <!-- =========================Start Col right section ============================= -->
            <section class="col-sm-12">
                <div class="col-right">
                    <h2 class="text-center"><b>Mis Cursos</b></h2>
                    {% if cursos.all|length > 0 %}
                        {% for curso in cursos %}
                            {% include 'frontend/item_curso.html' %}
                        {% endfor %}
                    {% else %}
                        <div class="flex-container flex-vert-align d-column">
                            <h2 class="text-center text-danger">No tiene cursos todavía</h2>
                            <a href="{% url 'frontend:listado_categorias' %}" class="button_large mt25 mb40">Ver
                                listado cursos</a>
                        </div>
                    {% endif %}

                </div><!-- end col right-->
            </section>
        </div><!-- end row-->

    </div> <!-- end container-->
{% endblock %}