.bb {
    border-bottom: solid 3px #888888;
}

.bb1 {
    border-bottom: solid 1px #888888;
}

.clearfix {
    clear: both;
}

.txt-shadow {
    text-shadow: 0 2px 6px #000;
}

.txt-blanco {
    color: #fff !important;
}


.f10 {
    font-size: 10px;
}

.fs20 {
    font-size: 20px !important;
}

.fs25 {
    font-size: 25px;
}

.fs15 {
    font-size: 15px;
}

.fs10 {
    font-size: 10px;
}

.pd5 {
    padding: 5px;
}

.pd10 {
    padding: 10px;
}

.pd20 {
    padding: 20px;
}

.pdr50 {
    padding-right: 50px;
}

.pdt10 {
    padding-top: 10px !important;
}

.pdt40 {
    padding-top: 40px !important;
}

.tachar {
    text-decoration: line-through;
}

.text-gris {
    color: #808080;
}

.text-gris-oscuro {
    color: #484848;
}

.text-gris-form {
    color: #c8c8c8;
}

.bold {
    font-weight: bold;
}

.flex-container {
    display: flex;
}

.d-column{
    flex-direction:column;
}
.flex-vert-align {
    justify-content: flex-end;
    align-items: center;
}

.m0 {
    margin: 0;
}

.text-azul {
    color: #467be6 !important;
}

.text-verde {
    color: #23b95b !important;
}

.text-azul-claro {
    color: #097ce7 !important;
}

.bg-azul {
    background-color: #097ce7!important;
}
.mt7{
    margin-top: 7px;
}
.ffArial {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
!important;
}

.pd0 {
    padding: 0 !important;
}

.f30 {
    font-size: 30px;
}

.f13 {
    font-size: 1.3em;
}

.f15px {
    font-size: 15px;
}

.f25px {
    font-size: 25px;
}

.f12 {
    font-size: 12px;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mr40 {
    margin-right: 40px;
}

.mt2 {
    margin-top: 2px;
}

.mt25 {
    margin-top: 25px !important;
}

.mt75 {
    margin-top: 75px;
}

.mr20 {
    margin-right: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml5 {
    margin-left: 5px;
}

.ml25 {
    margin-left: 25px;
}
.ml50 {
    margin-left: 50px;
}

.ml35 {
    margin-left: 35px;
}

.ml80 {
    margin-left: 80px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mt35 {
    margin-top: 35px;
}

.pl0 {
    padding-left: 0 !important;
}

.mt15 {
    margin-top: 15px;
}

.pb30 {
    padding-bottom: 30px;
}

.p-t-20 {
    padding-top: 20px;
}

.pb10 {
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

.bg_blanco {
    background-color: #fff !important;
}

.bg-gris {
    background-color: #ebebeb !important;
}

.txt-verde {
    color: #4eb597;
}

.txt-justify {
    text-align: justify;
}

.txt_center {
    text-align: center;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.dstable {
    display: table;
}

.dscell {
    display: table-cell;
}

.dscol {
    display: table-column;
}

.vert-aling-top {
    vertical-align: top;
}

.br-gris {
    border-right: solid 1px rgba(208, 208, 208, 0.8);
}

.br-blanco {
    border-right: solid 1px #ffffff;
}

.box-shadow {
    box-shadow: 10px 5px 15px #999999;
}

.disp-block {
    display: block;
    margin: 0 auto;
}

/*cloud*/
.cloud-text span {
    margin-right: 5px;
    position: relative;
}

.texto1 {
    font-size: 18px;
    color: #9aceff;
}

.texto2 {
    font-size: 25px;
    color: #a5f3ff;
}
.text-negro {
    color: #000;
}
.text-naranja{
    color: #fdc003;
}
.texto3 {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
}

.p-normal {
    color: #000;
    margin-bottom: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.bg-rosado {
    background-color: #9929bf;
}

.m-t-130 {
    margin-top: 130px;
}

.p-l-150 {
    padding-left: 150px;
}

.p-l-140 {
    padding-left: 140px;
}
.line-h40{
    line-height: 40px;
}

.d-flex {
    display: flex;
}