<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<html lang="es">
<!--<![endif]-->
<head>
    {% load staticfiles %}
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>La mejor plataforma educacional</title>
    <meta name="description" content="">
    <meta name="author" content=".Reica">

    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
          href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
          href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/megamenu.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'frontend/css/utiles.css' %}" rel="stylesheet">
    <link href="f{% static 'frontend/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'frontend/js/fancybox/source/jquery.fancybox.css' %}">

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" href="{% static 'frontend/css/fullwidth.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'frontend/rs-plugin/css/settings.css' %}" media="screen">

    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

    <!-- Jquery -->
    <script src="{% static 'frontend/js/jquery.js' %}"></script>
    <!-- Support media queries for IE8 -->
    <script src="{% static 'frontend/js/respond.min.js' %}"></script>

    <!-- HTML5 and CSS3-in older browsers-->
    <script src="{% static 'frontend/js/modernizr.custom.17475.js' %}"></script>

    <!--[if IE 7]>
  <link rel="stylesheet" href="{% static 'frontend/font-awesome/css/font-awesome-ie7.min.css' %}">
<![endif]-->
    {% block custom_assets %}
    {% endblock %}
</head>

<body>
<!--[if !IE]><!-->
<script>if (/*@cc_on!@*/false) {
    document.documentElement.className += ' ie10';
}</script><!--<![endif]--> <!-- Border radius fixed IE10-->

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4" id="logo">
                <a href="{% url 'frontend:index' %}" class="d-flex">
                    <img src="{% static 'frontend/img/logo-red-png.png' %}" alt="LOGO_RED" width="100">
                    <div class="ml25">
                        <h3 class="mb0">

                            Campus Virtual RED</h3>
                        <strong>Plataforma educativa de rediversidad</strong>
                    </div>

                </a>
            </div>
            <div class="col-md-8 col-sm-8">

                <div id="phone" class="hidden-xs"><strong>+52 (442) 444 5515</strong>Soporte y administracion</div>

            </div><!-- End col-md-8-->
        </div><!-- End row-->
    </div><!-- End container-->
</header><!-- End Header-->

<nav>
    <div class="megamenu_container">
        <a id="megamenu-button-mobile" href="#">Menu</a><!-- Menu button responsive-->

        <!-- Begin Mega Menu Container -->
        <ul class="megamenu">
            <!-- Begin Mega Menu -->
            <li><a href="javascript:void(0)" class="drop-down">Cursos</a>
                <!-- Begin Item -->
                <div class="drop-down-container">
                    <div class="row">

                        <div class="col-md-3">
                            <h4>Enlaces</h4>
                            <ul class="list-menu">
                                <li><a href="#" title="Meet the team">Nuestros Profesores</a></li>
                                <li><a href="#" title="News">Articulos</a></li>
                                <li><a href="#" title="Contact">Contacto</a></li>
                            </ul>
                            <p><a href="{% url 'frontend:listado_categorias' %}" title="Courses"
                                  class="button_medium add-bottom-20">Ver todos
                                los cursos</a></p>
                        </div>

                        <div class="col-md-9">
                            <div class="row">
                                {% for categoria in categorias %}
                                    <div class="col-md-4">
                                        <h5><a href="#"><i class="icon-book"></i>{{ categoria }}</a>
                                            ({{ categoria.cursos.all|length }})</h5>
                                        <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                            nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                        <p><a href="{% url 'frontend:listado_cursos' slug_categoria=categoria.slug %}"
                                              class="button_red_small">Ver Cursos</a></p>
                                    </div>
                                {% endfor %}


                            </div><!-- End row -->

                        </div><!-- End col-md-9 -->
                    </div><!-- End row -->
                </div><!-- End Item Container -->
            </li><!-- End Item -->


            <li><a href="javascript:void(0)" class="drop-down">Nosotros</a>
                <!-- Begin Item -->
                <div class="drop-down-container">

                    <div class="row">

                        <div class="col-md-3">
                            <h4>Quick links</h4>
                            <ul class="list-menu">
                                <li><a href="{% url 'frontend:listado_categorias' %}" title="All courses">Todos los
                                    cursos</a></li>
                                <li><a href="#" title="News">Articulos</a></li>
                                <li><a href="#" title="Contact">Contacto</a></li>
                            </ul>
                        </div>

                        <div class="col-md-9">
                            <ul class="tabs">
                                <li><a class="active" href="#section-1">Equipo</a></li>
                                <li><a href="#section-2">Historia</a></li>
                            </ul>

                            <ul class="tabs-content">

                                <li class="active" id="section-1">
                                    <div class="row">
                                        {% for profesor in profesores %}

                                            <div class="col-md-4">
                                                <p><img src="{{ profesor.usuario.avatar }}"
                                                        class="img-rounded shadow img-responsive" alt=""></p>
                                                <h5>{{ profesor.usuario.get_full_name }}</h5>
                                                <p>{{ profesor.descripcion|truncatechars:'150' }}.</p>
                                                <p><a href="#tre" class="button_red_small" title="staff">Biografía
                                                    completa</a>
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div><!-- End row -->
                                </li>

                                <li id="section-2">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <h5>History</h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei. An utinam
                                                reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                                nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                        </div>

                                        <div class="col-md-4">
                                            <h5>Mission</h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. <strong>Autem possim
                                                his cu</strong>, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.
                                                An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Vission</h5>
                                            <p>An utinam reprimique duo, putant mandamus cu qui. <strong>Autem possim
                                                his cu</strong>, quodsi nominavi fabellas ut sit, mea ea ullum epicurei.
                                                An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu,
                                                quodsi nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                        </div>

                                    </div><!-- End row -->
                                </li>

                            </ul><!-- End tabs-->
                        </div><!-- End col-md-9 -->

                    </div><!-- End row -->
                </div><!-- End Item Container -->
            </li><!-- End Item -->

            {#            <li><a href="#" class="drop-down">Categorías</a>#}
            {#                <!-- Begin Item -->#}
            {#                <div class="drop-down-container" id="icon-menu">#}
            {#                    <div class="row">#}
            {##}
            {#                    </div><!-- End row -->#}
            {#                </div><!-- End Item Container -->#}
            {#            </li><!-- End Item -->#}

            <li><a href="#" class="nodrop-down">Blog</a></li>

            <li><a href="javascript:void(0)" class="drop-down">Contáctenos</a>
                <!-- Begin Item -->
                <div class="drop-down-container">

                    <div class="row">

                        <div class="col-md-6">
                            <div id="map_1"></div>
                        </div>

                        <div class="col-md-6">
                            <h4>Address</h4>
                            <ul>
                                <li><i class="icon-Inicio"></i> 11 Fifth Ave, Loftus - NEW JERSEY, US</li>
                                <li><i class="icon-phone"></i> Telephone: + 61 (2) 8093 3400</li>
                                <li><i class="icon-phone-sign"></i> Fax: +61 (2) 9542 3599</li>
                                <li><i class="icon-envelope"></i> Email: <a href="#">submissions@domain.com</a></li>
                            </ul>
                            <br>
                            <hr>

                            <div class="row">

                                <div class="col-md-6">
                                    <h5>Questions?</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="contact.html" class="button_red_small">Read more</a></p>
                                </div>

                                <div class="col-md-6">
                                    <h5>Apply now</h5>
                                    <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi
                                        nominavi fabellas ut sit, mea ea ullum epicurei.</p>
                                    <p><a href="contact.html" class="button_red_small" title="Contact">Contact us</a>
                                    </p>
                                </div>

                            </div><!-- End row -->
                        </div><!-- End col-md-6 -->
                    </div><!-- End row-->
                </div><!-- End Item Container -->
            </li><!-- End Item -->

            {% if user.is_authenticated %}
                {% if user.first_name != "" %}
                    <li class="drop-normal"><a href="javascript:void(0)"
                                               class="drop-down">Bienvenido: {{ user.first_name }}</a>
                        {% else %}
                    <li class="drop-normal">
                    <a href="javascript:void(0)" class="drop-down">Bienvenido: Usuario</a>
                {% endif %}
            <!-- Begin Item -->
            <div class="drop-down-container normal">
                <ul>
                    <li><a href="{% url 'frontend:perfil_usuario' id_usuario=user.id %}" title="Pefil">Mi perfil</a>
                    </li>
                    <li><a href="{% url 'frontend:mis_cursos' %}" title="Cursos">Mis Cursos</a></li>
                    <li><a href="#" title="Cambiar_contrasena">Cambiar contraseña</a></li>
                    <li><a href="{% url 'logout' %}" title="Salir">Salir</a></li>
                </ul>
            </div><!-- End dropdown normal -->
            </li>
            {% else %}
                <li class="drop-normal"><a href="{% url 'frontend:registro_usuario' %}"
                                           class="nodrop-down">Registarse</a>
                <li class="drop-normal"><a href="{% url 'login' %}" class="nodrop-down">Entrar al campus</a>

            {% endif %}

            </li><!-- End Item -->
        </ul><!-- End Mega Menu -->
    </div>
</nav><!-- /navbar -->
{% block container %}

{% endblock %}
<footer class="mt25">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4" id="brand-footer">
                <p><img src="{% static 'frontend/img/logo-red-png.png' %}" alt="LOGO_RED" width="200"></p>
                <p>Copyright © 2019</p>
                <div class="fb"><a href="https://www.facebook.com/rediversidad/">Facebook</a></div>
            </div>
            <div class="col-md-4 col-sm-4" id="contacts-footer">
                <h4>Contacto</h4>
                <ul>
                    <li><i class="icon-phone"></i> Teléfono: + 61 (2) 8093 3400</li>
                    <li><i class="icon-envelope"></i> Email: <a href="#">contacto@campusvirtualred.com</a></li>
                </ul>
                <hr>
                <h4>Boletín de noticias</h4>
                <p>¿Quieres formar parte de la comunidad
                    <mark>RED</mark>
                    y enterarte anticipadamente de <b>descuentos</b>, <b>nuevos cursos</b>
                    ?. Déjanos tu correo
                </p>

                <div id="message-newsletter"></div>
                <form method="post" action="assets/newsletter.php" name="newsletter" id="newsletter"
                      class="form-inline">
                    <input name="email_newsletter" id="email_newsletter" type="email" value=""
                           placeholder="Escribe tu correo"
                           class="form-control">
                    <button id="submit-newsletter" class="button_medium add-bottom-20"
                            style="top:2px; position:relative"> Enviar
                    </button>
                </form>
            </div>
            <div class="col-md-4 col-sm-4" id="quick-links">
                <h4>Accesos rápidos</h4>
                <ul>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Artículos</a></li>
                    <li><a href="#">Accede</a></li>
                    <li><a href="#">Regístrate</a></li>
                </ul>

            </div>

        </div>
    </div>
</footer><!-- End footer-->
<div id="toTop">Ir arriba</div>

<!-- MEGAMENU -->
<script src="{% static 'frontend/js/jquery.easing.js' %}"></script>
<script src="{% static 'frontend/js/megamenu.js' %}"></script>

<!-- OTHER JS -->
<script src="{% static 'frontend/js/bootstrap.js' %}"></script>
<script src="{% static 'frontend/js/functions.js' %}"></script>
<script src="{% static 'frontend/assets/validate.js' %}"></script>

<!-- FANCYBOX -->
<script src="{% static 'frontend/js/fancybox/source/jquery.fancybox.pack.js' %}"
        type="text/javascript"></script>
<script src="{% static 'frontend/js/fancybox/source/helpers/jquery.fancybox-media.js' %}"
        type="text/javascript"></script>
<script src="{% static 'frontend/js/fancy_func.js' %}" type="text/javascript"></script>

<!-- REVOLUTION SLIDER -->
<script src="{% static 'frontend/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'frontend/js/revolutio-slider-func.js' %}"></script>
<script>
    $(function () {
        $('form input[type=text],form input[type=email],form input[type=password], select').addClass('form-control');
    })
</script>
</body>
</html>