{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block custom_assets %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        var CREATE_PAYMENT_URL = 'http://localhost:8000/crear/pago/curso/{{ curso.slug }}';
        var EXECUTE_PAYMENT_URL = 'http://localhost:8000/ejecutar/pago/curso/{{ curso.slug }}';

        paypal.Button.render({

            env: 'sandbox', // Or 'sandbox'

            commit: true, // Show a 'Pay Now' button

            payment: function () {
                return paypal.request.post(CREATE_PAYMENT_URL).then(function (data) {
                    return data.id;
                });
            },

            onAuthorize: function (data) {
                return paypal.request.post(EXECUTE_PAYMENT_URL, {
                    paymentID: data.paymentID,
                    payerID: data.payerID
                }).then(function (response) {
                    alert(response.msg);
                });
            }

        }, '#paypal-button');
    </script>
{% endblock %}
{% block container %}
    <div class="container">
        <div class="col-right">

            {% if curso !=  None %}
                <div class="strip-lessons">
                    <div class="row">
                        <p class="alert alert-info"><i class="icon-info-sign icon-2x"></i> <b>Información: </b>Usted
                            está a punto de comprar el siguiente curso:</p>
                        <div class="col-md-3 col-xs-6">
                            <div class="box-style-one borders"><img
                                    src="{% static 'frontend/img/lessons.png' %}" alt="">
                                <h5>{{ curso.categoria }}</h5>
                            </div>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-md-9">
                            <h4>
                                <a href="{% url 'frontend:descripcion_curso' slug_curso=curso.slug %}">{{ curso.titulo }}</a>
                            </h4>
                            <p>
                                {{ curso.descripcion|truncatechars:'250' }}
                            </p>
                            <ul class="data-lessons">
                                {#                                        <li>#}
                                {#                                            <i class="icon-time"></i>Duración:#}
                                {#                                            <b>{{ curso.tiempo_duracion.cantidad }} {{ curso.tiempo_duracion.get_tipo_display }}</b>#}
                                {#                                        </li>#}
                                <li>
                                    Profesor:
                                    {% for profesor in curso.profesor.all %}
                                        <b>{{ profesor }}</b>
                                    {% endfor %}

                                </li>
                                <li>
                                    <i class="icon-film"></i>
                                    <a class="fancybox-media button_red_medium"
                                       href="{% url 'frontend:descripcion_curso' slug_curso=curso.slug %}">

                                        Ver curso</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="alert-success text-center">Precio:
                        <b>${{ curso.precio }} {{ curso.get_moneda_display }}</b></h3>
                    {% if user.is_authenticated %}
                        <div class="row">
                            <h5 class="text-center text-info">Puede realizar el pago con su cuenta de PayPal o con su
                                tarjeta de crédito o débito</h5>
                            <div class="col-sm-6">
                                {#                                <a href="{% url 'frontend:crear_pago' slug_curso=curso.slug %}">Pagar con paypal</a>#}
                                <div id="paypal-button"></div>
                            </div>

                        </div>
                    {% else %}
                        <p class="alert alert-danger">Debe estar registrado en el sitio para poder comprar este
                            curso</p>
                        <a class="button_medium" href="{% url 'auth_login' %}">Accerder</a>
                        <a class="button_red_medium" href="{% url 'registration_register' %}">Registrarse</a>
                    {% endif %}
                </div><!-- End Strip course -->

            {% else %}
                <h1 class="alert alert-warning">{{ msg }} </h1>
                <p class="alert alert-info">Puede ver todos sus cursos en <a href="{% url 'frontend:mis_cursos' %}">MIS CURSOS</a></p>
            {% endif %}
        </div>
    </div>

{% endblock %}
