{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        {% if curso != None %}
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ curso.titulo }}</h1>
                    <ul class="breadcrumb">
                        <li><a href=" {% url 'frontend:index' %}">Inicio</a> <span class="divider"></span></li>
                        <li class="active">{{ curso.categoria }}</li>
                    </ul>
                </div>

                <!-- =========================Start Col left section ============================= -->
                <aside class="col-md-4 col-sm-4">
                    <div class="col-left">
                        <h3>Categorías de cursos</h3>
                        <hr>
                        <ul class="submenu-col">
                            <li><a href="{% url 'frontend:listado_categorias' %}">Todas las catgorías</a></li>
                            {% for categoria in categorias %}
                                <li><a href="{% url 'frontend:listado_cursos' slug_categoria=categoria.slug %}"
                                >{{ categoria }}
                                    ({{ categoria.cursos.all|length }})</a></li>
                            {% endfor %}
                        </ul>
                        <hr>
                        <p><a href="#" class=" button_red_small">Próximos cursos</a></p>

                    </div>
                    <p><img src="{% static 'frontend/img/banner.jpg' %}" alt="Banner"
                            class="img-rounded img-responsive"></p>
                </aside>

                <!-- =========================Start Col right section ============================= -->
                <section class="col-md-8 col-sm-8">
                    <div class="col-right">
                        {% if curso.video %}
                            <iframe width="420" height="315"
                                    src="https://www.youtube.com/embed/{{ curso.video }}?autoplay=0">
                            </iframe>
                        {% endif %}

                        {#                        <div class="main-img">#}
                        {#                            <img src="{% static 'frontend/img/pic-4.jpg' %}" alt="" class="img-responsive">#}
                        {#                            <p class="lead">Tibique dolores adversarium ne vel. At vide errem duo, vis luptatum menandri#}
                        {#                                ullamcorper id. </p>#}
                        {#                        </div>#}
                        <h2>Módulos del curso</h2>
                        <hr>
                        {% if modulos|length > 0 %}
                            {% for modulo in modulos %}

                                <div class="strip-courses">
                                    <div class="title-course">
                                        <h3>{{ modulo.nombre }}
                                        </h3>
                                        <ul>
                                            <li><i class="icon-bookmark"></i> ID: 012</li>
                                        </ul>
                                    </div>
                                    <div class="description">
                                        <p>{{ modulo.descripcion|truncatechars:'350' }}</p>
                                        <ul>
                                            <li><i class="icon-book"></i> {{ modulo.get_cantidad_clases }} clases</li>
                                            <li><i class="icon-reorder"></i> {{ modulo.get_duracion }}</li>
                                        </ul>
                                        <a href="{% url 'frontend:listado_clases' slug_modulo=modulo.slug %}"
                                           class="button_medium button-align-2">Ver clases </a>
                                    </div>
                                </div><!-- end strip-->

                            {% endfor %}
                        {% else %}
                            <div class="alert-danger"><h3>Este curso no cuenta con módulos activos todavía.</h3></div>
                        {% endif %}
                        {% if not tiene_curso %}
                            <p class="text-center"><a href="{% url 'frontend:checkout' slug_curso=curso.slug %}"
                                                      class="button_large">Comprar curso
                                ${{ curso.precio }} {{ curso.get_moneda_display }}</a></p>
                        {% endif %}
                        {# Si se va a incluir la tabla para los webinars revisr rl template para el diseño #}
                    </div><!-- end col right-->
                </section>
            </div><!-- end row-->
        {% else %}
            <h1>Lo sentimos el curso que busca ya no está disponible.</h1>
        {% endif %}

    </div> <!-- end container-->
{% endblock %}