{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ curso.categoria }}</h1>
                <ul class="breadcrumb">
                    <li><a href=" {% url 'frontend:index' %}">Inicio</a> <span class="divider"></span></li>
                    {#                        <li><a href=" {% url 'frontend:' slug_curso=modulo.curso.slug %}">{{ modulo.curso }}</a> <span class="divider"></span></li>#}
                    {#                        <li class="active">{{ modulo.nombre }}</li>#}
                </ul>
            </div>

            <!-- =========================Start Col left section ============================= -->
            <aside class="col-md-4 col-sm-4">
                <div class="col-left">
                    <h3>Clases del módulo</h3>
                    <hr>
                    <ul class="submenu-col">
                        {% for clase in clases.all %}
                            <li><a href="{% url 'frontend:detalle_clase' slug_clase=clase.slug %}"
                                   id="active">{{ clase.nombre }}
                            </a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <p><a href="#" class=" button_red_small">Otros módulos</a></p>

                </div>
                <p><img src="{% static 'frontend/img/banner.jpg' %}" alt="Banner"
                        class="img-rounded img-responsive"></p>
            </aside>

            <!-- =========================Start Col right section ============================= -->
            <section class="col-md-8 col-sm-8">
                <div class="col-right">
                    {% if tiene_curso %}

                        <div class="main-img">
                            <h3 class="text-center">{{ clase.nombre }}</h3>
                        </div>
                        <div class="post_info clearfix">
                            <div class="post-left">
                                <ul>
                                    <li><i class="icon-calendar-empty"></i>Duración:
                                        <span>{{ clase.tiempo_duracion }}hr</span></li>
                                    <li><i class="icon-user"></i>Profesor: <a
                                            href="#">{{ clase.modulo.curso.profesor }}</a>
                                    </li>
                                    {#                                <li><i class="icon-tags"></i>Tags <a href="#">Works</a><a href="#">Personal</a></li>#}
                                </ul>
                            </div>
                            {#                        <div class="post-right"><i class="icon-comments"></i><a href="#">25 </a>Comments</div>#}
                        </div>
                        <p>
                            {{ clase.descripcion }}
                        </p>
                        {% if recursos|length > 0 %}
                            {% for recurso in recursos %}
                                {% if recurso.tipo == 3 %}
                                    <iframe width="420" height="315"
                                            src="https://www.youtube.com/embed/{{ recurso.enlace }}?autoplay=0">
                                    </iframe>
                                {% endif %}
                            {% endfor %}

                            <div class="widget borders widget-table">

                                <div class="widget-header">
                                    <h5>Bibliografía y material complementario</h5>
                                </div> <!-- .widget-header -->

                                <div class="widget-content">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Enlace</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for recurso in recursos %}
                                            {% if recurso.tipo != 3 %}
                                                <tr>
                                                    <td>{{ recurso.titulo }}</td>
                                                    <td><a href="{{ recurso.archivo.url }}"
                                                           class="button_red_small">Descargar</a></td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div> <!-- .widget-content -->
                            </div> <!-- /widget -->
                        {% endif %}
                    {% endif %}
                </div><!-- end col right-->
            </section>
        </div><!-- end row-->

    </div> <!-- end container-->
{% endblock %}