<div class="col-sm-6">
                                <img src="{% static 'frontend/img/logo_mastercard.png' %}" width="65px" alt="Mastercard"
                                     class="img-responsive disp-block">
                                <img src="{% static 'frontend/img/logo_visa.png' %}" alt="VIsa" width="65px"
                                     class="img-responsive disp-block">
                                <div class="clearfix"></div>
                                <form action="{% url 'frontend:crear_pago_tarjeta'%}" method="post"
                                      class="well">
                                    {% csrf_token %}
                                    {{ form.as_table }}
                                    <input type="hidden" name="curso" value="{{ curso.slug }}"/>
                                    <button class="disp-block button_large">Pagar ${{ curso.precio }} MXN</button>
                                </form>
                            </div>