{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block custom_assets %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/js/slick/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/js/slick/slick/slick-theme.css' %}"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'frontend/js/slick/slick/slick.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.slider').slick({
                infinite: true,
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 2000
            });

        });
    </script>

{% endblock %}
{% block container %}

    <!--Star slider-->
    <section class="slider">
        <img src="{% static 'frontend/images/slides/slider1.jpg' %}" alt="imagen1">
        <img src="{% static 'frontend/images/slides/slider2.jpg' %}" alt="imagen2">
    </section><!--End slider-->


    <div class="container">

        <div class="row" id="main-boxes">
            <div class="col-md-4 col-sm-4">
                <div class="box-style-2 green">
                    <a href="{% url 'frontend:listado_categorias' %}" title="Todos los cursos">
                        <img src="{% static 'frontend/img/icon-home-course.png' %}" alt="">
                        <h3>Cursos</h3>
                        <p>Aquí podrá ver todos los cursos que impartimos agrupados por categoría de contenidos</p>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="box-style-2 orange">
                    <a href="" title="Registro">
                        <img src="{% static 'frontend/img/icon-home-apply.png' %}" alt="">
                        <h3>Regístrate</h3>
                        <p>Le tomará menos de 1 minuto registrarse y acceder a todo nuestro catálogo de cursos y
                            noticias. </p>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="box-style-2 red">
                    <a href="contact.html" title="Plan a visit">
                        <img src="{% static 'frontend/img/icon-home-visit.png' %}" alt="">
                        <h3>Contáctanos</h3>
                        <p>Cualquier duda, sugerencia o aspecto que usted crea debamos saber. Contáctenos estamos a sus
                            órdenes</p>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- end container-->


    <div class="container">
        <div class="row">
            <aside class="col-sm-3 col-xs-12">
                <div class="col-left">
                    <h3>Categorías de cursos</h3>
                    <hr>
                    <ul class="submenu-col">
                        <li><a href="{% url 'frontend:listado_categorias' %}">Todas las catgorias</a></li>
                        {% for categoria in categorias %}
                            <li><a href="{% url 'frontend:listado_cursos' slug_categoria=categoria.slug %}"
                            >{{ categoria }}
                                ({{ categoria.cursos.all|length }})</a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <p><a href="#" class=" button_red_small">Próximos cursos</a></p>

                </div>
                    {% include 'frontend/includes/block_login.html' %}
            </aside>

            <section class="col-sm-9 col-xs-12">
                <div class="col-right">
                    <h2>Cursos más recientes</h2>
                    <hr>
                    {% for curso in cursos_premium %}

                        {% include 'frontend/item_curso.html' %}

                    {% endfor %}

                    <p class="text-center"><a href="{% url 'frontend:listado_categorias' %}" class="button_large">Ver
                        todos los cursos
                    </a></p>

                </div>
            </section>
        </div>
    </div><!-- end container-->

{% endblock %}