{% load staticfiles %}
<div class="strip-lessons">
    <div class="row">
        <div class="col-sm-3 col-xs-4">
            <div class="box-style-one borders"><img
                    src="{% static 'frontend/img/lessons.png' %}" alt="" width="80">
                <h5>{{ curso.categoria }}</h5>
            </div>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-sm-9 col-xs-8">
            <h4>
                <a href="{% url 'frontend:descripcion_curso' slug_curso=curso.slug %}">{{ curso.titulo }}</a>
            </h4>
            <p>
                {{ curso.descripcion|truncatechars:'250' }}
            </p>
            <ul class="data-lessons">
                <li>
                    Profesor:
                    {% for profesor in curso.profesor.all %}
                        <b>{{ profesor }}</b>
                    {% endfor %}

                </li>

                <li>Precio: <b>${{ curso.precio }} {{ curso.get_moneda_display }}</b></li>
                {% if not perfil %}
                    <li>
                        <a
                                href="{% url 'frontend:checkout' slug_curso=curso.slug %}"
                                class="button_red_medium">
                            Comprar</a>
                    </li>
                {% endif %}

                <li>
                    <i class="icon-film"></i>
                    <a class="fancybox-media"
                       href="{% url 'frontend:descripcion_curso' slug_curso=curso.slug %}">

                        Ver curso</a>
                </li>
            </ul>
        </div>
    </div>
</div><!-- End Strip course -->