{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ curso.categoria }}</h1>
                <ul class="breadcrumb">
                    <li><a href=" {% url 'frontend:index' %}">Inicio</a> <span class="divider"></span></li>
                    <li class="active">{{ categoria.nombre }}</li>
                </ul>
            </div>

            <!-- =========================Start Col right section ============================= -->
            <section class="col-sm-12">
                <div class="col-right">
                    <div class="main-img">
                        <h2 class="text-center">Todos nuestros cursos </h2>
                    </div>
                    {% if categorias|length > 0 %}

                        <div class="strip-lessons">
                            {% for categoria in categorias %}
                                {% for curso in categoria.cursos.all %}
                                    {% include 'frontend/item_curso.html' %}
                                {% endfor %}
                            {% endfor %}
                        </div><!-- End Strip course -->
                    {% else %}
                        <h2 class="text-center text-danger">Lo sentimos no hay cursos para esta categoría</h2>
                    {% endif %}

                </div><!-- end col right-->
            </section>
        </div><!-- end row-->

    </div> <!-- end container-->
{% endblock %}