{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ curso.categoria }}</h1>
                <ul class="breadcrumb">
                    <li><a href=" {% url 'frontend:index' %}">Inicio</a> <span class="divider"></span></li>
                    <li>
                        <a href=" {% url 'frontend:descripcion_curso' slug_curso=modulo.curso.slug %}">{{ modulo.curso }}</a>
                        <span class="divider"></span></li>
                    <li class="active">{{ modulo.nombre }}</li>
                </ul>
            </div>

            <!-- =========================Start Col left section ============================= -->
            <aside class="col-sm-3 col-xs-12">
                <div class="col-left">
                    <h3>Módulos de cursos</h3>
                    <hr>
                    <ul class="submenu-col">
                        {% for modulo in modulo.curso.modulos.all %}
                            <li><a href="{% url 'frontend:listado_clases' slug_modulo=modulo.slug %}"
                            >{{ modulo.nombre }}
                                ({{ modulo.clases.all|length }})</a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <p><a href="#" class=" button_red_small">Próximos cursos</a></p>

                </div>
                {% include 'frontend/includes/block_login.html' %}

            </aside>

            <!-- =========================Start Col right section ============================= -->
            <section class="col-sm-9 col-xs-12">
                <div class="col-right">
                    <div class="main-img">
                        <h2 class="text-center">Módulo: {{ modulo.nombre }}</h2>
                    </div>

                    {% for clase in clases %}


                        <div class="strip-lessons">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6">
                                    <div class="box-style-one borders"><img
                                            src="{% static 'frontend/img/lessons.png' %}" alt="LESSON_ICON" width="80">
                                        <h5>
                                            clase: {{ forloop.counter }}</h5>
                                    </div>
                                </div>
                                <div class="clearfix visible-xs-block"></div>
                                <div class="col-md-9 col-sm-12">
                                    <h4>{{ clase.nombre }}</h4>
                                    <p>{{ clase.descripcion|truncatechars:'250' }} </p>
                                    <ul class="data-lessons">
                                        <li><i class="icon-time"></i>Duración: {{ clase.tiempo_duracion }}hr</li>
                                        <li><i class="icon-film"></i>
                                            {% if tiene_curso %}
                                                <li>
                                                    <i class="icon-cloud-download"></i>
                                                    <a href="{% url 'frontend:detalle_clase' slug_clase=clase.slug %}">
                                                        Ver clase completa</a>
                                                </li>
                                            {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div><!-- End Strip course -->
                        {% if not tiene_curso %}

                            <p class="text-center"><a href="{% url 'frontend:checkout' slug_curso=curso.slug %}"
                                                      class="button_large">Comprar curso
                                ${{ curso.precio }} {{ curso.get_moneda_display }}</a></p>
                        {% endif %}

                    {% endfor %}

                    <div class="widget borders widget-table">

                        <div class="widget-header">
                            <h5>Si se van a dar clases presenciales o webinars planificación</h5>
                        </div> <!-- .widget-header -->
                    </div> <!-- /widget -->
                </div><!-- end col right-->
            </section>
        </div><!-- end row-->

    </div> <!-- end container-->
{% endblock %}