{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ curso.categoria }}</h1>
                <ul class="breadcrumb">
                    <li><a href=" {% url 'frontend:index' %}">Inicio</a> <span class="divider"></span></li>
                    <li class="active">{{ categoria.nombre }}</li>
                </ul>
            </div>

            <!-- =========================Start Col right section ============================= -->
            <section class="col-sm-12">
                <div class="col-right">
                    <div class="main-img">
                        <h2 class="text-center">Cursos en: <b>{{ categoria.nombre }}</b></h2>
                    </div>
                    {% if cursos.all|length > 0 %}
                        {% for curso in cursos %}
                            {% include 'frontend/item_curso.html' %}
                        {% endfor %}
                    {% else %}
                        <h2 class="text-center text-danger">Lo sentimos no hay cursos para esta categoría</h2>
                    {% endif %}

                </div><!-- end col right-->
            </section>
        </div><!-- end row-->

    </div> <!-- end container-->
{% endblock %}