{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block container %}
    <div class="container">
        <aside class="col-sm-12 ">
            <div class="col-right">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Perfil del {{ user.first_name }} {{ user.last_name }}  </h3>
                        {% if msg != None %}
                            <div class="alert alert-success">{{ msg }}</div>
                        {% endif %}
                        <!--  Tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#datos-generales" data-toggle="tab">Datos Generales</a></li>
                            <li><a href="#datos-pago" data-toggle="tab">Datos de pago</a></li>
                            <li><a href="#mis-cursos" data-toggle="tab">Mis Cursos</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane" id="datos-generales">
                                <form action="#" class="form-horizontal" method="post">
                                    {% csrf_token %}
                                    <div class="col-sm-3">
                                        {% if form.instance.avatar %}
                                            <img id="imgprev" width="50px" src="{{ form.instance.avatar.url }}">
                                        {% else %}
                                            <img id="imgprev" width="50px"
                                                 src="{% static 'main/imagenes/no_image.jpg' %}">
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="">Nombre</label>
                                            {{ form.first_name }}
                                        </div>
                                        <div class="form-group">
                                            <label for="">Apellido</label>
                                            {{ form.last_name }}
                                        </div>
                                        <button class="button_large mt15">EDITAR</button>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane" id="datos-pago">

                            </div>
                            <div class="tab-pane" id="mis-cursos">
                                <section class="col-sm-12">
                                        <h2 class="text-center"><b>Mis Cursos</b></h2>
                                        {% if cursos.all|length > 0 %}
                                            {% for curso in cursos %}
                                                {% include 'frontend/item_curso.html' %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="flex-container flex-vert-align d-column">
                                                <h2 class="text-center text-danger">No tiene cursos todavía</h2>
                                                <a href="{% url 'frontend:listado_categorias' %}"
                                                   class="button_large mt25 mb40">Ver
                                                    listado cursos</a>
                                            </div>
                                        {% endif %}

                                </section>
                            </div>
                        </div>

                    </div><!--  End span7 -->
                </div> <!--  End row -->
            </div>
        </aside>

    </div>

{% endblock %}