{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block container %}
    <div class="container">
        <div class="col-right">
            procesando el pago
        </div>
    </div>

{% endblock %}
{% block custom_assets %}

{% endblock %}